<div class="cards-container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4>Formação</h4>
      <h5 class="card-title">SI(Sistemas para Internet)</h5>
      <p class="card-text">
        desenvolvendo projetos de aplicações para a rede mundial de computadores
        e integra mídias nos sites da internet.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cursando: 6 Semestre</li>
      <li class="list-group-item">Previsão de Conclusão: 12/2023</li>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4>Experiencia:</h4>
      <h5 class="card-title">Poupatempo - Praia Grande</h5>
      <p class="card-text">
        Suporte tecnico a rede de computadores (instalação, manutenção e tratativas de ocorrencias via chamado)
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Periodo: Atualmente</li>
      <li class="list-group-item">Cargo: Tecnico informatica TIC</li>
    </ul>
  </div>
</div>
